<!DOCTYPE html>
<html lang="en" style="font-size:625%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/page2.css" type="text/css">
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/common/jquery.qrcode.min.js"></script>
    <script src="../js/common/smartCity_sdk.js"></script>
    <script src="../js/common/template-native.js"></script>
    <script>
        SmartCity.getUserInfo(function( res ){
            if( res && res.userinfo.userTokenKey ){
                var access_token = res.userinfo.userTokenKey
            }else{    
                SmartCity.goLogin();
            }
        });
    </script>
    <title>抽奖</title>
</head>
<body style="opacity: 0;">
    <div class="page2">
        <div class="erweima">
            <div>
                <div class="erweima_img">

                </div>
                <p>我的二维码</p>
            </div>
        </div>
        <div class="flow">
            <div class="flow_img flow_box">
                <img src="../image/1@2x2.png" width="30%" alt="">
                <img src="../image/ZS箭头@2x.png" width="10%" alt="">
                <img src="../image/1@2x3.png" width="30%" alt="">
            </div>
            <div class="flow_txt flow_box">
                <div class="step1 step">
                    <span>Step1</span>
                    <span>将入场后将生成的二维码提供给商家</span>
                </div>
                <div class="step2 step">
                    <span>Step2</span>
                    <span>商家扫码确认后，即可领取该商品</span>
                </div>
            </div>
        </div>
        <div class="process">
            <p>活动相关规则：</p>
            <p class="process_rule"></p>
        </div>
        <div class="prize">
            <h3>已兑换商品</h3>
            <div class="list">
                <script type="text/template" id="temp01">
                    <ul>
                        <% for (var i = 0;i < prizes.length;i++) { %>
                        <li>
                            <div class="prize_img">
                                <img src="<%= prizes[i].host + prizes[i].dir + prizes[i].filepath + prizes[i].filename %>" width='100%' alt="">
                            </div>
                            <div class="txt">
                                <p><%= prizes[i].prize %></p>
                                <div>
                                    <span>赞助商：<%= prizes[i].name %></span>
                                    <span>兑换日期：<%= prizes[i].time %></span>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </script>
            </div>
            <p class="tip">
            </p>
        </div>
    </div>
    <script src="../js/common/common.js"></script>
    <script>
        var access_token = 'd20a472510e247fc98feba953137fe01'
        $.ajax({
            url:'http://10.0.3.180/livsns/api/lottery/lottery_api.php',
            type:'get',
            data:'a=ticketcode&id=237&access_token=' + access_token,
            success:function(res) {
                var data = JSON.parse(res)[0]
                $('.erweima_img').qrcode({width: 150,height: 150,text: data.codeUrl});
                $('.process_rule').html(data.lottery.rule)
                $('body').css({'opacity':1})
            }
        })
        $.ajax({
            url:'http://10.0.3.180/livsns/api/lottery/lottery_api.php',
            type:'get',
            data:'a=ticketprizes&id=237&access_token=' + access_token,
            success:function(res) {
                var data = JSON.parse(res)[0]
                if (data.status == 1){
                    var temp = template('temp01',data)
                    $('.list').html(temp)
                }else{
                    console.log(11)
                    $('.tip').html(data.message)
                }
            }
        })
    </script>
</body>
</html>