<!DOCTYPE html>
<html lang="en" style="font-size:625%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/page2.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="page2">
        <div class="erweima">
            <div>
                <img src="../image/1525265080.png" width="100%" alt="出错了">
                <p>我的二维码</p>
            </div>
        </div>
        <div class="flow">

        </div>
        <div class="process">
            <p>活动相关规则：</p>
            <p>
                1、同一手机号或同一账号仅获得一张入场券。
            </p>
            <p>
                2、入场券有效日期为2018-04-12至05-23，在有效日期外均无效。
            </p>
            <p>
                3、扫码入场后所有商品均可进行扫码兑换。
            </p>
            <p>
                4、所有物品当场兑换，不进行物流交易。
            </p>
            <p>
                5、其他未尽事宜，请咨询客服。
            </p>
        </div>
        <div class="prize">
            <h3>已兑换商品</h3>
            <ul>
                <li>
                    <div class="prize_img">
                        <!-- <img src="" alt=""> -->
                    </div>
                    <div class="txt">
                        <p>真空收纳压缩袋 8只装内含手动抽气泵</p>
                        <div>
                            <span>赞助商：收纳博士</span>
                            <span>兑换日期：2018-04-15 12:00:23</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="prize_img">
                        <!-- <img src="" alt=""> -->
                    </div>
                    <div class="txt">
                        <p>真空收纳压缩袋 8只装内含手动抽气泵</p>
                        <div>
                            <span>赞助商：收纳博士</span>
                            <span>兑换日期：2018-04-15 12:00:23</span>
                        </div>
                    </div>
                </li>
            </ul>
            <p>
                加载更多
            </p>
        </div>
    </div>
</body>
</html>